{:highlights [{:id #uuid "65ba8d1c-60d8-414c-9227-659cc4cb73c1",
               :page 27,
               :position {:bounding {:x1 48,
                                     :y1 759.3984375,
                                     :x2 832,
                                     :y2 952.3984375,
                                     :width 929.4613333333333,
                                     :height 1482.7121066666666},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1706724633235},
               :properties {:color "red"}}
              {:id #uuid "65c27117-0b15-426d-a8d4-749ad9f50b21",
               :page 28,
               :position {:bounding {:x1 70.20000076293945,
                                     :y1 409.80078125,
                                     :x2 651.2000007629395,
                                     :y2 547.80078125,
                                     :width 697.0959999999999,
                                     :height 1114.1088},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1707241747588},
               :properties {:color "yellow"}}
              {:id #uuid "65c27261-122b-4688-a48f-049b675c8dd2",
               :page 30,
               :position {:bounding {:x1 89.20000076293945,
                                     :y1 618.80078125,
                                     :x2 643.2000007629395,
                                     :y2 785.80078125,
                                     :width 697.0959999999999,
                                     :height 1114.1088},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1707242077788},
               :properties {:color "red"}}
              {:id #uuid "65c2c6a8-6e24-4149-a38f-8da5f2648067",
               :page 32,
               :position {:bounding {:x1 48.79999923706055,
                                     :y1 274.3984375,
                                     :x2 632.7999992370605,
                                     :y2 446.3984375,
                                     :width 697.0959999999999,
                                     :height 1114.1088},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1707263655290},
               :properties {:color "yellow"}}],
 :extra {:page 34}}
